@import "../../../styles.scss";

.nameImgSkill {
  display: flex;
  align-items: center;

  h1 {
    margin-left: 10px;
  }
}

.skill-img {
  border-radius: 5px;
}

.container {
  background-color: #1d2957;
  border-radius: 20px;
  padding-inline: 20px;
  padding-block: 10px;
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0px 0px 10px #193c4d;
}

.container:hover {
  scale: 1.1;
  box-shadow: 0px 0px 25px #193c4d;
}

input {
  width: 100%;
  margin: 0;
}

.slider {
  position: relative;
  appearance: none;
  width: 100%;
  height: 25px;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: all 0.2s;
  border-radius: 10px;
  overflow: hidden;
}

.slider::webkit .slider:hover {
  opacity: 1;
  scale: 1.1;
}

.slider::-webkit-slider-thumb {
  // border-radius: 10px;
  appearance: none;
  width: 25px;
  height: 25px;
  background: $secondary50;
}

.slider::-moz-range-thumb {
  // border-radius: 10px;
  width: 25px;
  height: 25px;
  background: $secondary50;
  border: none;
}

@media (width <= 1100px) {
  .container {
    padding-inline: 20px;
    padding-block: 5px;
  }

  .slider::-webkit-slider-thumb {
    // border-radius: 10px;
    appearance: none;
    width: 40px;
    height: 25px;
    background: $secondary50;
  }

  .slider::-moz-range-thumb {
    // border-radius: 10px;
    width: 40px;
    height: 25px;
    background: $secondary50;
    border: none;
  }
}
