<div class="container">
  <div class="text">
    <h3>
      I'm Kaloyan Stoyanov Stoyanov, a 17-year-old mobile developer with a flair for backend and frontend
      development.
      Currently studying at the Vocational High School of Electrical Engineering and Electronics, Burgas. My passion
      lies in
      creating user-friendly mobile apps. Through my portfolio, I showcase efficient solutions and seamless user
      experiences.
      Eager to explore new challenges and collaborate on cutting-edge projects. <strong>Let's build something
        incredible
        together.</strong>
    </h3>
  </div>
  <div class="pfp">
    <img src="../assets/pfp2.jpg">
  </div>
</div>
