<div class="container">
  <div class="text">
    <h3>
      I'm Kaloyan Stoyanov Stoyanov, a 17-year-old mobile developer with two years of experience in Flutter,
      specializing in
      the development of mobile cross-platform applications. Currently studying at the Vocational High School of
      Electrical
      Engineering and Electronics, Burgas, my passion lies in creating user-friendly mobile apps. I possess a strong
      motivation to acquire new knowledge and enhance my skill set. Through my portfolio, I showcase efficient solutions
      and
      seamless user experiences. My expertise includes working with material design and adhering to its guidelines.
      While I
      primarily employed the MVC (Model-View-Controller) architecture in my application development, I am actively
      seeking
      opportunities to explore the BloC (Business Logic Component) pattern. Eager to explore new challenges and
      collaborate on
      cutting-edge projects. <strong> Let's build something incredible together. </strong>
    </h3>
  </div>
  <div class="pfp">
    <img src="../assets/pfp2.jpg">
  </div>
</div>
