# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.firebase/hosting.cHVibGlj.cache
.firebase/hosting.LmZpcmViYXNlXGthbG95YW5lcy1wb3J0Zm9saW9caG9zdGluZw.cache
.firebase/kaloyanes-portfolio/hosting/3rdpartylicenses.txt
.firebase/kaloyanes-portfolio/hosting/browser/favicon.ico
.firebase/kaloyanes-portfolio/hosting/browser/index.html
.firebase/kaloyanes-portfolio/hosting/browser/main-G4WOTARF.css
.firebase/kaloyanes-portfolio/hosting/browser/main-IBM23COP.js
.firebase/kaloyanes-portfolio/hosting/browser/polyfills-RX4V3J3S.js
.firebase/kaloyanes-portfolio/hosting/browser/styles-KSZXY4YH.css
.firebase/kaloyanes-portfolio/hosting/browser/assets/burgasblues.webp
.firebase/kaloyanes-portfolio/hosting/browser/assets/check.svg
.firebase/kaloyanes-portfolio/hosting/browser/assets/close.svg
.firebase/kaloyanes-portfolio/hosting/browser/assets/dark-favicon.png
.firebase/kaloyanes-portfolio/hosting/browser/assets/erasmus.webp
.firebase/kaloyanes-portfolio/hosting/browser/assets/google48e2f881a1146ce8.html
.firebase/kaloyanes-portfolio/hosting/browser/assets/intro1.jpg
.firebase/kaloyanes-portfolio/hosting/browser/assets/intro2.jpg
.firebase/kaloyanes-portfolio/hosting/browser/assets/intro3.jpg
.firebase/kaloyanes-portfolio/hosting/browser/assets/light-favicon.png
.firebase/kaloyanes-portfolio/hosting/browser/assets/noit.png
.firebase/kaloyanes-portfolio/hosting/browser/assets/pfp2.webp
.firebase/kaloyanes-portfolio/hosting/browser/assets/pfp3.webp
.firebase/kaloyanes-portfolio/hosting/browser/assets/pfp3ful.webp
.firebase/kaloyanes-portfolio/hosting/browser/assets/pgee.webp
.firebase/kaloyanes-portfolio/hosting/browser/assets/robodays.webp
.firebase/kaloyanes-portfolio/hosting/browser/assets/robots.txt
.firebase/kaloyanes-portfolio/hosting/browser/assets/sitemap.xml
.firebase/kaloyanes-portfolio/hosting/browser/assets/vyarnataposoka.webp
/src/environments/environment.development.ts
/src/environments/environment.ts
