
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.firebase/
.firebase/hosting.LmZpcmViYXNlXGthbG95YW5lcy1wb3J0Zm9saW9caG9zdGluZw.cache
.firebase/kaloyanes-portfolio/functions/index.js
.firebase/kaloyanes-portfolio/functions/internal.js
.firebase/kaloyanes-portfolio/functions/manifest-full.js
.firebase/kaloyanes-portfolio/functions/manifest.js
.firebase/kaloyanes-portfolio/functions/package-lock.json
.firebase/kaloyanes-portfolio/functions/package.json
.firebase/kaloyanes-portfolio/functions/server.js
.firebase/kaloyanes-portfolio/functions/_app/immutable/assets/_layout.764ad280.css
.firebase/kaloyanes-portfolio/functions/_app/immutable/assets/_page.3049d0bf.css
.firebase/kaloyanes-portfolio/functions/chunks/internal.js
.firebase/kaloyanes-portfolio/functions/chunks/ssr.js
.firebase/kaloyanes-portfolio/functions/entries/fallbacks/error.svelte.js
.firebase/kaloyanes-portfolio/functions/entries/pages/_layout.svelte.js
.firebase/kaloyanes-portfolio/functions/entries/pages/_page.svelte.js
.firebase/kaloyanes-portfolio/functions/nodes/0.js
.firebase/kaloyanes-portfolio/functions/nodes/1.js
.firebase/kaloyanes-portfolio/functions/nodes/2.js
.firebase/kaloyanes-portfolio/hosting/burgasblues.webp
.firebase/kaloyanes-portfolio/hosting/erasmus.webp
.firebase/kaloyanes-portfolio/hosting/pfp2.webp
.firebase/kaloyanes-portfolio/hosting/pgee.webp
.firebase/kaloyanes-portfolio/hosting/robodays.webp
.firebase/kaloyanes-portfolio/hosting/vyarnataposoka.webp
.firebase/kaloyanes-portfolio/hosting/_app/version.json
.firebase/kaloyanes-portfolio/hosting/_app/immutable/assets/_layout.764ad280.css
.firebase/kaloyanes-portfolio/hosting/_app/immutable/assets/_page.3049d0bf.css
.firebase/kaloyanes-portfolio/hosting/_app/immutable/assets/0.764ad280.css
.firebase/kaloyanes-portfolio/hosting/_app/immutable/assets/2.c7786ebf.css
.firebase/kaloyanes-portfolio/hosting/_app/immutable/chunks/index.0f1d9fda.js
.firebase/kaloyanes-portfolio/hosting/_app/immutable/chunks/scheduler.b0fd5642.js
.firebase/kaloyanes-portfolio/hosting/_app/immutable/chunks/singletons.a2168cba.js
.firebase/kaloyanes-portfolio/hosting/_app/immutable/entry/app.cb6c4d63.js
.firebase/kaloyanes-portfolio/hosting/_app/immutable/entry/start.10e8bf1a.js
.firebase/kaloyanes-portfolio/hosting/_app/immutable/nodes/0.80311ea7.js
.firebase/kaloyanes-portfolio/hosting/_app/immutable/nodes/1.85ec320f.js
.firebase/kaloyanes-portfolio/hosting/_app/immutable/nodes/2.d40f3a88.js
.firebase/kaloyanes-portfolio/hosting/projects/CharGO/2.webp
.firebase/kaloyanes-portfolio/hosting/projects/CharGO/6.webp
.firebase/kaloyanes-portfolio/hosting/projects/ReportR/1.webp
src/lib/components/AboutShort.svelte
.firebase/hosting.LmZpcmViYXNlXGthbG95YW5lcy1wb3J0Zm9saW9caG9zdGluZw.cache
.firebase/kaloyanes-portfolio/functions/manifest-full.js
.firebase/kaloyanes-portfolio/functions/manifest.js
.firebase/kaloyanes-portfolio/functions/package-lock.json
.firebase/kaloyanes-portfolio/functions/package.json
.firebase/kaloyanes-portfolio/functions/server.js
.firebase/kaloyanes-portfolio/functions/_app/immutable/assets/_layout.764ad280.css
.firebase/kaloyanes-portfolio/functions/_app/immutable/assets/_page.3049d0bf.css
.firebase/kaloyanes-portfolio/functions/chunks/internal.js
.firebase/kaloyanes-portfolio/functions/chunks/ssr.js
.firebase/kaloyanes-portfolio/functions/entries/pages/_layout.svelte.js
.firebase/kaloyanes-portfolio/functions/entries/pages/_page.svelte.js
.firebase/kaloyanes-portfolio/functions/nodes/0.js
.firebase/kaloyanes-portfolio/functions/nodes/1.js
.firebase/kaloyanes-portfolio/functions/nodes/2.js
.firebase/kaloyanes-portfolio/hosting/burgasblues.webp
.firebase/kaloyanes-portfolio/hosting/erasmus.webp
.firebase/kaloyanes-portfolio/hosting/pfp2.webp
.firebase/kaloyanes-portfolio/hosting/pgee.webp
.firebase/kaloyanes-portfolio/hosting/robodays.webp
.firebase/kaloyanes-portfolio/hosting/vyarnataposoka.webp
.firebase/kaloyanes-portfolio/hosting/_app/version.json
.firebase/kaloyanes-portfolio/hosting/_app/immutable/assets/_layout.764ad280.css
.firebase/kaloyanes-portfolio/hosting/_app/immutable/assets/_page.3049d0bf.css
.firebase/kaloyanes-portfolio/hosting/_app/immutable/assets/0.764ad280.css
.firebase/kaloyanes-portfolio/hosting/_app/immutable/assets/2.c7786ebf.css
.firebase/kaloyanes-portfolio/hosting/_app/immutable/chunks/index.0f1d9fda.js
.firebase/kaloyanes-portfolio/hosting/_app/immutable/chunks/scheduler.b0fd5642.js
.firebase/kaloyanes-portfolio/hosting/_app/immutable/chunks/singletons.a2168cba.js
.firebase/kaloyanes-portfolio/hosting/_app/immutable/entry/app.cb6c4d63.js
.firebase/kaloyanes-portfolio/hosting/_app/immutable/entry/start.10e8bf1a.js
.firebase/kaloyanes-portfolio/hosting/_app/immutable/nodes/0.80311ea7.js
.firebase/kaloyanes-portfolio/hosting/_app/immutable/nodes/1.85ec320f.js
.firebase/kaloyanes-portfolio/hosting/_app/immutable/nodes/2.d40f3a88.js
.firebase/kaloyanes-portfolio/hosting/projects/CharGO/2.webp
.firebase/kaloyanes-portfolio/hosting/projects/CharGO/6.webp
.firebase/kaloyanes-portfolio/hosting/projects/ReportR/1.webp
