<h1 class="title-text">Contact me</h1>

<div class="layout">
  <div class="info"></div>

  <div class="col">
    <div class="socials">
      <div class="social-card" *ngFor="let item of socials" (click)="openLink(item.link)">
        <img [src]="item.imageUrl">
        <h2 id="name">{{item.name}}</h2>
        <h4 id="username">{{item.username}}</h4>
      </div>
    </div>
    <div class="contact-me">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">home</mat-icon>
    </div>
  </div>
</div>
