@import "src/styles.scss";

.wrapper {
  margin-bottom: 5rem;
}

.layout {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-block: 2rem;

  .social-card {
    cursor: pointer;
    margin-inline: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    width: 5rem;

    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: $color-primary-container-dark;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 10px 40px $primary30;

    user-select: none;
    letter-spacing: 1px;

    img {
      width: 50px;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &:hover {
      background-color: $primary30;
      scale: 1.1;
      transform: translateY(-10px);
      box-shadow: 0 20px 60px $primary30;
      letter-spacing: 2px;

      img {
        scale: 1.1;
      }
    }

    &:active {
      transform: translateY(-5px);
      scale: 1.05;
      box-shadow: 0 10px 50px $primary30;
    }
  }
}

.contact-form {
  flex: 1;
}
