@import "../../../styles.scss";

.layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.socials {
  // width: 50vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.social-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $color-primary-container-dark;
  border-radius: 20px;
  padding-inline: 20px;
  padding-block: 10px;
  filter: grayscale(0.3);
  transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0px 0px 10px $color-primary-container-dark;
  cursor: pointer;

  img {
    position: relative;
    height: 25%;
    width: 50%;
    margin: 10px;
    aspect-ratio: 1;
    object-fit: scale-down;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
  }

  #username {
    margin: 15px;
    font-size: 18px;
  }
}

a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.social-card:hover {
  transform: translateY(-10px);
  scale: 1.1;
  filter: none;
  box-shadow: 0px 0px 50px $color-primary-container-dark;
  border-radius: 30px;
}

.col {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-tile {
  background-color: $color-primary-container-dark;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  position: relative;

  text-align: left;

  transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  mat-icon {
    margin-right: 5%;
  }
}

.info-tile:hover {
  transform: translateY(-10px);
  scale: 1.1;
  filter: none;
  box-shadow: 0px 0px 50px $color-primary-container-dark;
  border-radius: 30px;
}

.clickable {
  cursor: pointer;
}
