:host {
  display: block;
}

.slogan {
  text-align: center;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
  transform-origin: center;
  font-size: 1.05rem;

  &:hover {
    letter-spacing: 2px;
  }
}
