<div class="about-me">
  <h1 class="text-2xl font-mono" id="about-me-title">About me</h1>


  <div class="about-me-text">

    <p class="my-3">
      I'm Kaloyan, a 17-year-old student from Burgas, Bulgaria.
      <br>Currently in the 11th grade at the Vocational High School of Electronics "Konstantin Fotinov,"
      <br> I'm a Junior Mobile Developer with a focus on Flutter.
      <br> I'm also expanding my skills into web development with Angular and SvelteKit. <br>
    </p>
  </div>

  <p class="text-center ">
    <strong class="text-purple-600 dark:text-purple-400 slogan w-full ">
      Let's build something incredible, together!
    </strong>
  </p>
</div>
