.skill-layout {
  display: flex;
  justify-content: space-between;
  .skill-title {
    text-align: center;
  }
}
.skill-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  // grid-auto-rows: minmax(100px, auto);
  gap: 30px;
}

.charlay {
  .skill-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.programlay {
  .skill-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.verticalDivider {
  display: flex;
  // align-items: center;
  width: 2px;
  background-color: white;
}
