.skill-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;

  .skill-title {
    text-align: center;
  }
}
.skill-grid {
  width: 45vw !important;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-inline: 10px;
}

.verticalDivider {
  width: 2px;
  background-color: white;
  margin-inline: 20px;
}

@media (width <= 700px) {
  .verticalDivider {
    display: none;
  }

  .skill-layout {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-inline: 0;
  }

  .charlay {
    padding-bottom: 50px;
    border-bottom: 2px solid white;
  }

  .skill {
    text-align: center;
  }

  .skill-grid {
    width: 55vw !important;
    display: grid;
    gap: 1rem;
    margin-inline: 0;
  }
}

// @media (width <= 1750px) {
//   .verticalDivider {
//     display: none !important;
//   }
// }
