<h1 class="title-text" id="skill-title">Skills</h1>
<div class="wrapper" id="skill-wrapper">

  <div class="layout">
    <div class="skill-group">
      <h2>Frontend</h2>
      <div class="skills">
        <div class="skill" *ngFor="let item of frontendSkills">
          <img [src]="item.imageUrl" alt="skill icon" />
          <p>{{ item.name }}</p>
        </div>
      </div>
    </div>
    <div class="skill-group">
      <h2>Backend</h2>
      <div class="skills">
        <div class="skill" *ngFor="let item of backendSkills">
          <img [src]="item.imageUrl" alt="skill icon" />
          <p>{{ item.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="skill-group">
    <h2>Mobile</h2>
    <div class="skills">
      <div class="skill" *ngFor="let item of mobileSkills">
        <img [src]="item.imageUrl" alt="skill icon" />
        <p>{{ item.name }}</p>
      </div>
    </div>
  </div>

</div>
