<div class="wrapper">
  <h1 class="title-text">Skills</h1>


  <div class="skill-layout">
    <div class="charlay">
      <h1 class="skill-title">Character</h1>
      <div class="character skill-grid">
        <div class="skill" *ngFor="let item of this.characterSkills">
          <app-skill [skill]="item" />
        </div>
      </div>
    </div>
    <div class="verticalDivider">
    </div>
    <div class="programlay">
      <h1 class="skill-title">Programming</h1>
      <div class="programming skill-grid">
        <div class="skill" *ngFor="let item of this.programmingSkills">
          <app-skill [skill]="item" />
        </div>
      </div>
    </div>
  </div>

</div>
