@if(project() === undefined)
{
<div class="flex flex-col justify-center items-center p-12 gap-12 h-screen">
  <div class="spinner">
  </div>
</div>
}

<div class="flex flex-col justify-center items-center p-12 gap-12" [ngClass]="{'hidden': project() === undefined}">
  <h1 class="text-4xl font-bold text-center tracking-wide py-4 font-mono" id="projectName">{{project()!.name}}</h1>

  <div class="xl:w-[75%] 2xl:w-[65%] w-full ">
    <div class="flex flex-col lg:flex-row gap-10 lg:gap-0 self-center items-center justify-self-center py-10">
      <div class="flex-1 flex flex-col items-start justify-evenly gap-10">
        <div class="projectInfo">
          <h1 class="title ">
            The problem
          </h1>
          <p class="description">
            {{project()!.problem}}
          </p>
        </div>

        <div class="projectInfo">
          <h1 class="title">
            The solution
          </h1>
          <p class="description">
            {{project()!.solution}}
          </p>
        </div>

        <div class="projectInfo">
          <h1 class="title">
            The result
          </h1>
          <p class="description">
            {{project()!.result}}
          </p>
        </div>
      </div>
      <div class="flex-1 flex justify-center lg:justify-end">
        <img src="{{project()!.images[project()!.selectedImageIndex]}}" alt=""
          class="rounded-3xl shadow-purple-500 max-h-[700px]" id="projectImage">
      </div>
    </div>


    <h1 class="text-4xl font-bold font-mono  text-left tracking-wide py-12 mt-5">Tech stack</h1>

    <div class="flex gap-12 justify-start w-full flex-wrap">
      @for (item of project()!.technologies; track $index) {
      <div class="flex gap-2 justify-start items-center min-w-44 ">
        <img src="/assets/technologies/{{item.replaceAll(' ', '-')}}.svg" alt="{{item}} logo"
          class="shadow-purple-500 max-h-[50px] logo ">
        <h1 class="capitalize text-3xl">{{item.replaceAll('-',' ')}}</h1>
      </div>
      }
    </div>

    <div class="flex w-full justify-center mt-16">

      <button class="btn btn-wide bg-purple-700 hover:bg-purple-800 border-purple-400 hover:border-purple-300 bg-opacity-100 dark:bg-opacity-5 backdrop-blur-sm rounded-xl
     text-white transition-all duration-200 hover:rounded-2xl hover:scale-110 font-mono text-2xl"
        (click)="goToGithub()">Github</button>
    </div>

    <h1 class="text-4xl font-bold font-mono  text-left tracking-wide mt-5 py-16">Images</h1>

    <div class="flex flex-wrap gap-12 items-center justify-center  ">

      @for (item of project()!.images; track $index) {
      <img src="{{item}}" alt="" class="rounded-3xl shadow-purple-500 max-h-[550px]">
      }
    </div>
  </div>

</div>

{{x()}}
