@import "../../../styles.scss";

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  text-align: center;
  color: white;
  width: 100%;

  margin-top: 15px;
  background-color: $color-primary-container-dark;
  z-index: 1;
  transition: 600ms cubic-bezier(0.19, 1, 0.22, 1);
  padding-inline: 20px;
  box-shadow: 0px 0px 5px $color-primary-container-dark;
  h2 {
    font-size: 35px;
    font-weight: 700;
  }
}

.title:hover {
  scale: 1.15;
  box-shadow: 0px 0px 50px $color-primary-container-dark;
}

@media (max-width: 1100px) {
  .title {
    width: 80vw;
    margin: 0;
  }
}
