@import "../../../styles.scss";

.headers {
  width: 80vw;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  scale: 0.85;
  border-radius: 50px;
  background-color: $color-primary-container-dark;
}

.btn {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 0px;
  border-bottom: solid transparent;
  border-width: 0;
  background-clip: content-box;
  transition: all 400ms ease-out;
  font-size: 20px;
  margin: 2rem;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  scale: 1.15;
}

.btn:active {
  scale: 1.05;
  opacity: 0.4;
}

@keyframes activeAnimation {
  from {
    border-width: 0px;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  to {
    border-width: 5px;
    transform: translateY(0px);
  }
}

@keyframes exitAnimation {
  from {
    border-width: 5px;
  }
  to {
    border-width: 0px;
  }
}

.inactive {
  animation: exitAnimation 300ms forwards ease-in-out;
  border-color: transparent;
}

.active {
  animation: activeAnimation 300ms forwards ease-in-out;
  border-color: white;
}
