@import "../../../styles.scss";

.headers {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  scale: 0.95;
  border-radius: 50px;
  background-color: $color-primary-container-dark;
  margin-top: 10px;
  margin-inline: 10px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 0px;
  border-bottom: solid transparent;
  border-width: 0;
  background-clip: content-box;
  transition: all 400ms ease-out;
  font-size: 20px;
  margin: 2rem;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

mat-icon {
  margin-right: 10px;
}

.btn:hover {
  scale: 1.15;
}

.btn:active {
  scale: 1.05;
  opacity: 0.4;
}

@keyframes activeAnimation {
  from {
    border-width: 0px;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  to {
    border-width: 5px;
    transform: translateY(0px);
  }
}

@keyframes exitAnimation {
  from {
    border-width: 5px;
  }
  to {
    border-width: 0px;
  }
}

.inactive {
  animation: exitAnimation 300ms forwards ease-in-out;
  border-color: transparent;
}

.active {
  animation: activeAnimation 300ms forwards ease-in-out;
  border-color: white;
}

@media (max-width: 1000px) {
  .headers {
    width: 100vw;
    padding-block: 10px;
  }

  .btn {
    margin: 10px;
    font-size: 12px;
    padding: 10px;
  }

  mat-icon {
    margin: 0;
  }

  .btn :nth-child(2) {
    display: none;
  }
}
