<div class="headers">
  <button id="educationbtn" class="btn active" (click)="makeActive($event)">
    <mat-icon>school</mat-icon>
    <div class="text">
      Education
    </div>
  </button>
  <button id="skillsbtn" class="btn " (click)="makeActive($event)">
    <mat-icon>build</mat-icon>
    <div class="text">
      Skills
    </div>
  </button>
  <button id="awardsbtn" class="btn " (click)="makeActive($event)">
    <mat-icon>star</mat-icon>
    <div class="text">
      Awards
    </div>
  </button>
  <button id="projectsbtn" class="btn " (click)="makeActive($event)">
    <mat-icon>folder</mat-icon>
    <div class="text">
      Projects
    </div>
  </button>
  <button id="contact mebtn" class="btn " (click)="makeActive($event)">
    <mat-icon>call</mat-icon>
    <div class="text">
      Contact Me
    </div>
  </button>
</div>
