<h1 class="title-text">Education</h1>

<div class="layout">
  <div class="text">
    <div>

      <h1>Applied programming, Vocational High School of Electrical Engineering and
        Electronics “Konstantin Fotinov”, Burgas</h1>
    </div>
    <div>
      <h1>Erasmus+ programs</h1>
      <h4>EU Programme for education, training, youth and sport</h4>
      <h4>Projects that I have attended:</h4>
      <ul>
        <li>
          Project under the Erasmus+ program, KD 1, sector Vocational education
          training on the topic: "Education without borders - the world is robotics"
        </li>
      </ul>
    </div>
  </div>
  <div class="pictures">
    <img
      src="https://scontent.fsof11-1.fna.fbcdn.net/v/t39.30808-6/358155556_6940359839325098_1918015778299680260_n.jpg?_nc_cat=107&cb=99be929b-3346023f&ccb=1-7&_nc_sid=5cd70e&_nc_ohc=mX9Df_XFhwoAX9A5XXn&_nc_ht=scontent.fsof11-1.fna&oh=00_AfB4v9vNnYGHUByxX9xzogG73sRwFLginWRnZzxqvjhRPg&oe=64D2D012">
    <img
      src="https://scontent.fsof11-1.fna.fbcdn.net/v/t39.30808-6/358155556_6940359839325098_1918015778299680260_n.jpg?_nc_cat=107&cb=99be929b-3346023f&ccb=1-7&_nc_sid=5cd70e&_nc_ohc=mX9Df_XFhwoAX9A5XXn&_nc_ht=scontent.fsof11-1.fna&oh=00_AfB4v9vNnYGHUByxX9xzogG73sRwFLginWRnZzxqvjhRPg&oe=64D2D012">
  </div>
</div>
