<div class="wrapper">


  <h1 class="title-text" id="educatTitle">Education</h1>

  <div class="layout">
    <div class="row reversed">
      <div class="info img2">
        <h1>Applied programming, Vocational High School of Electrical Engineering and
          Electronics “Konstantin Fotinov”, Burgas</h1>
      </div>
      <img src="assets/pgee.jpg" alt="pgee" class="img1">
    </div>

    <div class="row">
      <div class="info img1">
        <h1>Erasmus+ programs</h1>
        <h4>EU Programme for education, training, youth and sport</h4>
        <h4>Projects that I have attended:</h4>
        <ul>
          <li>
            Project under the Erasmus+ program, KD 1, sector Vocational education
            training on the topic: "Education without borders - the world is robotics"
          </li>
        </ul>
      </div>
      <img src="assets/erasmus.jpg " alt="erasmus" class="img2">
    </div>
  </div>

</div>
