<div class="layout">
  <div class="title">
    <h2>Kaloyan Stoyanov</h2>
  </div>

  <div class="container">
    <div class="text">
      <h3>
        I'm Kaloyan Stoyanov Stoyanov, a 17-year-old mobile developer with a flair for backend and frontend
        development.
        Currently studying at the Vocational High School of Electrical Engineering and Electronics, Burgas. My passion
        lies in
        creating user-friendly mobile apps. Through my portfolio, I showcase efficient solutions and seamless user
        experiences.
        Eager to explore new challenges and collaborate on cutting-edge projects. <strong>Let's build something
          incredible
          together.</strong>
      </h3>
    </div>
    <div class="pfp">
      <img src="../assets/pfp2.jpg">
    </div>
  </div>

  <div class="headers">
    <div class="btn">
      <button class="btn active" (click)="makeActive($event)">Education</button>
    </div>
    <div class="btn">
      <button class="btn " (click)="makeActive($event)">Skills</button>
    </div>
    <div class="btn">
      <button class="btn " (click)="makeActive($event)">Awards</button>
    </div>
    <div class="btn">
      <button class="btn " (click)="makeActive($event)">Projects</button>
    </div>
  </div>

  <div id="education">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolor sit odio earum a, nam dolores! Numquam
      quibusdam doloremque delectus illum qui asperiores, minus quidem, libero perferendis, temporibus fuga provident.
      Ducimus, maxime? Tempore nostrum doloremque blanditiis, dolor temporibus accusantium ipsam! Facilis maiores
      praesentium perferendis voluptas animi omnis? Laudantium sint incidunt illum voluptatum ipsum, necessitatibus ipsa
      hic in ex corrupti ipsam.
      Reprehenderit sequi rem deleniti totam id placeat tempora laudantium error, inventore repellat minus, aliquam,
      quibusdam qui odit tempore. Accusantium similique modi vel. Quasi animi culpa soluta odit nihil sequi assumenda!
      Recusandae magni aperiam explicabo fugiat eos soluta exercitationem, ex, corrupti provident nobis sunt nam nisi
      cumque atque aliquid natus. Architecto corrupti sit voluptas saepe earum accusantium ipsam eum odit impedit?
      Incidunt atque itaque expedita et vero obcaecati ad autem molestias unde necessitatibus quaerat, accusantium
      magnam
      voluptas hic magni eligendi eum est. Laboriosam, ducimus harum? Nesciunt eaque itaque nostrum facere deleniti.
      Itaque, incidunt at! Rerum recusandae illum aut vel fuga eligendi repellat accusamus et amet porro pariatur totam
      quasi a sapiente nesciunt ducimus ratione sit reiciendis commodi esse, odio labore debitis?
      Consequuntur, perspiciatis. Suscipit, velit. Dignissimos expedita perferendis minus ullam officiis harum doloribus
      dolorum aut, exercitationem dolor perspiciatis iste nulla quis porro. Mollitia et nisi dicta iure dignissimos,
      nemo
      magnam obcaecati.
      Officia corrupti dolorum optio ratione voluptatibus odio provident, rerum ab nobis nam. Iste rem quisquam sequi
      saepe corrupti nobis in asperiores eligendi nihil vitae possimus sapiente ipsa consequatur, dolorem at.
      Repellendus blanditiis, sapiente corrupti quo sunt fuga aut alias ullam hic, nesciunt, reiciendis distinctio magni
      pariatur excepturi! Nam sapiente quo veniam, dolorum temporibus quibusdam provident numquam dolores perspiciatis
      dolore quas!
      Rem odio, nobis tempora ipsam adipisci consequuntur deleniti esse sed assumenda minima ratione illo eligendi!
      Numquam neque minima, est labore beatae culpa aliquid ad alias, doloribus voluptatum delectus placeat deleniti.
      Sunt ratione cupiditate consequuntur temporibus cum id consectetur facere optio, tempore nisi iste veniam aut
      minima
      non, eos architecto sapiente? Dolores cum accusamus blanditiis eligendi atque? Harum a maiores voluptatum.
      Cumque necessitatibus inventore voluptatum quaerat ut consequuntur temporibus illo molestiae praesentium unde
      corporis ullam deserunt impedit in, dolor quam laboriosam soluta voluptatem! Nihil at atque iste minima maxime
      totam
      vitae!
      Consequatur animi soluta praesentium dolorem a. Nulla vel neque dolore, tempora fugit quasi obcaecati? Minima fuga
      libero ut odio similique voluptatem quae cupiditate nesciunt perspiciatis aspernatur culpa, corrupti, accusantium
      fugiat.
      Maxime cumque quibusdam explicabo labore, ullam ea, dolorem distinctio, molestias ex temporibus eaque iusto odio
      aut. Aperiam illum facilis beatae, sapiente, ipsam debitis deleniti expedita, enim dolores eveniet distinctio
      culpa?
      Possimus esse vero, error iure reprehenderit doloremque. Quis, pariatur aperiam. Dicta culpa laborum quia dolorum
      autem velit numquam labore dolores! Incidunt, maiores in! Harum recusandae iure illum porro consequuntur dolores.
      Et voluptates provident aperiam vel voluptate dolorum explicabo quasi aspernatur doloribus ducimus culpa quia,
      suscipit minus error, ab commodi sed eligendi sequi rem quibusdam non dolor. Modi voluptas ad veritatis.
      Corrupti itaque dicta ipsam ipsa. Beatae, enim labore dolorem expedita quaerat sequi modi eum eveniet rem libero
      sit
      repudiandae ipsam obcaecati ipsum veniam voluptates sapiente ipsa fuga quae dignissimos! Pariatur.
      Quo exercitationem reiciendis eligendi, quod quasi consectetur ut earum, consequatur qui accusamus facere
      cupiditate
      laboriosam deleniti aspernatur, vitae sit praesentium repellat sequi dicta! Consectetur in cumque aperiam, eos
      assumenda modi?
      Laborum praesentium ab quibusdam totam. Eum quis officia id incidunt impedit obcaecati aperiam facilis perferendis
      iusto eligendi, rerum, veniam quos voluptatum. Error consequatur magnam recusandae velit eaque qui consectetur
      porro?
      Expedita nobis vero ea quos magni. Voluptates repellendus aut illo quae beatae delectus esse at, itaque accusamus
      exercitationem a, totam unde blanditiis voluptatum harum aperiam recusandae animi corrupti optio aliquid?</h1>
  </div>

  <div id="skills">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolor sit odio earum a, nam dolores! Numquam
      quibusdam doloremque delectus illum qui asperiores, minus quidem, libero perferendis, temporibus fuga provident.
      Ducimus, maxime? Tempore nostrum doloremque blanditiis, dolor temporibus accusantium ipsam! Facilis maiores
      praesentium perferendis voluptas animi omnis? Laudantium sint incidunt illum voluptatum ipsum, necessitatibus ipsa
      hic in ex corrupti ipsam.
      Reprehenderit sequi rem deleniti totam id placeat tempora laudantium error, inventore repellat minus, aliquam,
      quibusdam qui odit tempore. Accusantium similique modi vel. Quasi animi culpa soluta odit nihil sequi assumenda!
      Recusandae magni aperiam explicabo fugiat eos soluta exercitationem, ex, corrupti provident nobis sunt nam nisi
      cumque atque aliquid natus. Architecto corrupti sit voluptas saepe earum accusantium ipsam eum odit impedit?
      Incidunt atque itaque expedita et vero obcaecati ad autem molestias unde necessitatibus quaerat, accusantium
      magnam
      voluptas hic magni eligendi eum est. Laboriosam, ducimus harum? Nesciunt eaque itaque nostrum facere deleniti.
      Itaque, incidunt at! Rerum recusandae illum aut vel fuga eligendi repellat accusamus et amet porro pariatur totam
      quasi a sapiente nesciunt ducimus ratione sit reiciendis commodi esse, odio labore debitis?
      Consequuntur, perspiciatis. Suscipit, velit. Dignissimos expedita perferendis minus ullam officiis harum doloribus
      dolorum aut, exercitationem dolor perspiciatis iste nulla quis porro. Mollitia et nisi dicta iure dignissimos,
      nemo
      magnam obcaecati.
      Officia corrupti dolorum optio ratione voluptatibus odio provident, rerum ab nobis nam. Iste rem quisquam sequi
      saepe corrupti nobis in asperiores eligendi nihil vitae possimus sapiente ipsa consequatur, dolorem at.
      Repellendus blanditiis, sapiente corrupti quo sunt fuga aut alias ullam hic, nesciunt, reiciendis distinctio magni
      pariatur excepturi! Nam sapiente quo veniam, dolorum temporibus quibusdam provident numquam dolores perspiciatis
      dolore quas!
      Rem odio, nobis tempora ipsam adipisci consequuntur deleniti esse sed assumenda minima ratione illo eligendi!
      Numquam neque minima, est labore beatae culpa aliquid ad alias, doloribus voluptatum delectus placeat deleniti.
      Sunt ratione cupiditate consequuntur temporibus cum id consectetur facere optio, tempore nisi iste veniam aut
      minima
      non, eos architecto sapiente? Dolores cum accusamus blanditiis eligendi atque? Harum a maiores voluptatum.
      Cumque necessitatibus inventore voluptatum quaerat ut consequuntur temporibus illo molestiae praesentium unde
      corporis ullam deserunt impedit in, dolor quam laboriosam soluta voluptatem! Nihil at atque iste minima maxime
      totam
      vitae!
      Consequatur animi soluta praesentium dolorem a. Nulla vel neque dolore, tempora fugit quasi obcaecati? Minima fuga
      libero ut odio similique voluptatem quae cupiditate nesciunt perspiciatis aspernatur culpa, corrupti, accusantium
      fugiat.
      Maxime cumque quibusdam explicabo labore, ullam ea, dolorem distinctio, molestias ex temporibus eaque iusto odio
      aut. Aperiam illum facilis beatae, sapiente, ipsam debitis deleniti expedita, enim dolores eveniet distinctio
      culpa?
      Possimus esse vero, error iure reprehenderit doloremque. Quis, pariatur aperiam. Dicta culpa laborum quia dolorum
      autem velit numquam labore dolores! Incidunt, maiores in! Harum recusandae iure illum porro consequuntur dolores.
      Et voluptates provident aperiam vel voluptate dolorum explicabo quasi aspernatur doloribus ducimus culpa quia,
      suscipit minus error, ab commodi sed eligendi sequi rem quibusdam non dolor. Modi voluptas ad veritatis.
      Corrupti itaque dicta ipsam ipsa. Beatae, enim labore dolorem expedita quaerat sequi modi eum eveniet rem libero
      sit
      repudiandae ipsam obcaecati ipsum veniam voluptates sapiente ipsa fuga quae dignissimos! Pariatur.
      Quo exercitationem reiciendis eligendi, quod quasi consectetur ut earum, consequatur qui accusamus facere
      cupiditate
      laboriosam deleniti aspernatur, vitae sit praesentium repellat sequi dicta! Consectetur in cumque aperiam, eos
      assumenda modi?
      Laborum praesentium ab quibusdam totam. Eum quis officia id incidunt impedit obcaecati aperiam facilis perferendis
      iusto eligendi, rerum, veniam quos voluptatum. Error consequatur magnam recusandae velit eaque qui consectetur
      porro?
      Expedita nobis vero ea quos magni. Voluptates repellendus aut illo quae beatae delectus esse at, itaque accusamus
      exercitationem a, totam unde blanditiis voluptatum harum aperiam recusandae animi corrupti optio aliquid?</h1>
  </div>

  <div id="awards">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolor sit odio earum a, nam dolores! Numquam
      quibusdam doloremque delectus illum qui asperiores, minus quidem, libero perferendis, temporibus fuga provident.
      Ducimus, maxime? Tempore nostrum doloremque blanditiis, dolor temporibus accusantium ipsam! Facilis maiores
      praesentium perferendis voluptas animi omnis? Laudantium sint incidunt illum voluptatum ipsum, necessitatibus ipsa
      hic in ex corrupti ipsam.
      Reprehenderit sequi rem deleniti totam id placeat tempora laudantium error, inventore repellat minus, aliquam,
      quibusdam qui odit tempore. Accusantium similique modi vel. Quasi animi culpa soluta odit nihil sequi assumenda!
      Recusandae magni aperiam explicabo fugiat eos soluta exercitationem, ex, corrupti provident nobis sunt nam nisi
      cumque atque aliquid natus. Architecto corrupti sit voluptas saepe earum accusantium ipsam eum odit impedit?
      Incidunt atque itaque expedita et vero obcaecati ad autem molestias unde necessitatibus quaerat, accusantium
      magnam
      voluptas hic magni eligendi eum est. Laboriosam, ducimus harum? Nesciunt eaque itaque nostrum facere deleniti.
      Itaque, incidunt at! Rerum recusandae illum aut vel fuga eligendi repellat accusamus et amet porro pariatur totam
      quasi a sapiente nesciunt ducimus ratione sit reiciendis commodi esse, odio labore debitis?
      Consequuntur, perspiciatis. Suscipit, velit. Dignissimos expedita perferendis minus ullam officiis harum doloribus
      dolorum aut, exercitationem dolor perspiciatis iste nulla quis porro. Mollitia et nisi dicta iure dignissimos,
      nemo
      magnam obcaecati.
      Officia corrupti dolorum optio ratione voluptatibus odio provident, rerum ab nobis nam. Iste rem quisquam sequi
      saepe corrupti nobis in asperiores eligendi nihil vitae possimus sapiente ipsa consequatur, dolorem at.
      Repellendus blanditiis, sapiente corrupti quo sunt fuga aut alias ullam hic, nesciunt, reiciendis distinctio magni
      pariatur excepturi! Nam sapiente quo veniam, dolorum temporibus quibusdam provident numquam dolores perspiciatis
      dolore quas!
      Rem odio, nobis tempora ipsam adipisci consequuntur deleniti esse sed assumenda minima ratione illo eligendi!
      Numquam neque minima, est labore beatae culpa aliquid ad alias, doloribus voluptatum delectus placeat deleniti.
      Sunt ratione cupiditate consequuntur temporibus cum id consectetur facere optio, tempore nisi iste veniam aut
      minima
      non, eos architecto sapiente? Dolores cum accusamus blanditiis eligendi atque? Harum a maiores voluptatum.
      Cumque necessitatibus inventore voluptatum quaerat ut consequuntur temporibus illo molestiae praesentium unde
      corporis ullam deserunt impedit in, dolor quam laboriosam soluta voluptatem! Nihil at atque iste minima maxime
      totam
      vitae!
      Consequatur animi soluta praesentium dolorem a. Nulla vel neque dolore, tempora fugit quasi obcaecati? Minima fuga
      libero ut odio similique voluptatem quae cupiditate nesciunt perspiciatis aspernatur culpa, corrupti, accusantium
      fugiat.
      Maxime cumque quibusdam explicabo labore, ullam ea, dolorem distinctio, molestias ex temporibus eaque iusto odio
      aut. Aperiam illum facilis beatae, sapiente, ipsam debitis deleniti expedita, enim dolores eveniet distinctio
      culpa?
      Possimus esse vero, error iure reprehenderit doloremque. Quis, pariatur aperiam. Dicta culpa laborum quia dolorum
      autem velit numquam labore dolores! Incidunt, maiores in! Harum recusandae iure illum porro consequuntur dolores.
      Et voluptates provident aperiam vel voluptate dolorum explicabo quasi aspernatur doloribus ducimus culpa quia,
      suscipit minus error, ab commodi sed eligendi sequi rem quibusdam non dolor. Modi voluptas ad veritatis.
      Corrupti itaque dicta ipsam ipsa. Beatae, enim labore dolorem expedita quaerat sequi modi eum eveniet rem libero
      sit
      repudiandae ipsam obcaecati ipsum veniam voluptates sapiente ipsa fuga quae dignissimos! Pariatur.
      Quo exercitationem reiciendis eligendi, quod quasi consectetur ut earum, consequatur qui accusamus facere
      cupiditate
      laboriosam deleniti aspernatur, vitae sit praesentium repellat sequi dicta! Consectetur in cumque aperiam, eos
      assumenda modi?
      Laborum praesentium ab quibusdam totam. Eum quis officia id incidunt impedit obcaecati aperiam facilis perferendis
      iusto eligendi, rerum, veniam quos voluptatum. Error consequatur magnam recusandae velit eaque qui consectetur
      porro?
      Expedita nobis vero ea quos magni. Voluptates repellendus aut illo quae beatae delectus esse at, itaque accusamus
      exercitationem a, totam unde blanditiis voluptatum harum aperiam recusandae animi corrupti optio aliquid?</h1>
  </div>

  <div id="projects">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolor sit odio earum a, nam dolores! Numquam
      quibusdam doloremque delectus illum qui asperiores, minus quidem, libero perferendis, temporibus fuga provident.
      Ducimus, maxime? Tempore nostrum doloremque blanditiis, dolor temporibus accusantium ipsam! Facilis maiores
      praesentium perferendis voluptas animi omnis? Laudantium sint incidunt illum voluptatum ipsum, necessitatibus ipsa
      hic in ex corrupti ipsam.
      Reprehenderit sequi rem deleniti totam id placeat tempora laudantium error, inventore repellat minus, aliquam,
      quibusdam qui odit tempore. Accusantium similique modi vel. Quasi animi culpa soluta odit nihil sequi assumenda!
      Recusandae magni aperiam explicabo fugiat eos soluta exercitationem, ex, corrupti provident nobis sunt nam nisi
      cumque atque aliquid natus. Architecto corrupti sit voluptas saepe earum accusantium ipsam eum odit impedit?
      Incidunt atque itaque expedita et vero obcaecati ad autem molestias unde necessitatibus quaerat, accusantium
      magnam
      voluptas hic magni eligendi eum est. Laboriosam, ducimus harum? Nesciunt eaque itaque nostrum facere deleniti.
      Itaque, incidunt at! Rerum recusandae illum aut vel fuga eligendi repellat accusamus et amet porro pariatur totam
      quasi a sapiente nesciunt ducimus ratione sit reiciendis commodi esse, odio labore debitis?
      Consequuntur, perspiciatis. Suscipit, velit. Dignissimos expedita perferendis minus ullam officiis harum doloribus
      dolorum aut, exercitationem dolor perspiciatis iste nulla quis porro. Mollitia et nisi dicta iure dignissimos,
      nemo
      magnam obcaecati.
      Officia corrupti dolorum optio ratione voluptatibus odio provident, rerum ab nobis nam. Iste rem quisquam sequi
      saepe corrupti nobis in asperiores eligendi nihil vitae possimus sapiente ipsa consequatur, dolorem at.
      Repellendus blanditiis, sapiente corrupti quo sunt fuga aut alias ullam hic, nesciunt, reiciendis distinctio magni
      pariatur excepturi! Nam sapiente quo veniam, dolorum temporibus quibusdam provident numquam dolores perspiciatis
      dolore quas!
      Rem odio, nobis tempora ipsam adipisci consequuntur deleniti esse sed assumenda minima ratione illo eligendi!
      Numquam neque minima, est labore beatae culpa aliquid ad alias, doloribus voluptatum delectus placeat deleniti.
      Sunt ratione cupiditate consequuntur temporibus cum id consectetur facere optio, tempore nisi iste veniam aut
      minima
      non, eos architecto sapiente? Dolores cum accusamus blanditiis eligendi atque? Harum a maiores voluptatum.
      Cumque necessitatibus inventore voluptatum quaerat ut consequuntur temporibus illo molestiae praesentium unde
      corporis ullam deserunt impedit in, dolor quam laboriosam soluta voluptatem! Nihil at atque iste minima maxime
      totam
      vitae!
      Consequatur animi soluta praesentium dolorem a. Nulla vel neque dolore, tempora fugit quasi obcaecati? Minima fuga
      libero ut odio similique voluptatem quae cupiditate nesciunt perspiciatis aspernatur culpa, corrupti, accusantium
      fugiat.
      Maxime cumque quibusdam explicabo labore, ullam ea, dolorem distinctio, molestias ex temporibus eaque iusto odio
      aut. Aperiam illum facilis beatae, sapiente, ipsam debitis deleniti expedita, enim dolores eveniet distinctio
      culpa?
      Possimus esse vero, error iure reprehenderit doloremque. Quis, pariatur aperiam. Dicta culpa laborum quia dolorum
      autem velit numquam labore dolores! Incidunt, maiores in! Harum recusandae iure illum porro consequuntur dolores.
      Et voluptates provident aperiam vel voluptate dolorum explicabo quasi aspernatur doloribus ducimus culpa quia,
      suscipit minus error, ab commodi sed eligendi sequi rem quibusdam non dolor. Modi voluptas ad veritatis.
      Corrupti itaque dicta ipsam ipsa. Beatae, enim labore dolorem expedita quaerat sequi modi eum eveniet rem libero
      sit
      repudiandae ipsam obcaecati ipsum veniam voluptates sapiente ipsa fuga quae dignissimos! Pariatur.
      Quo exercitationem reiciendis eligendi, quod quasi consectetur ut earum, consequatur qui accusamus facere
      cupiditate
      laboriosam deleniti aspernatur, vitae sit praesentium repellat sequi dicta! Consectetur in cumque aperiam, eos
      assumenda modi?
      Laborum praesentium ab quibusdam totam. Eum quis officia id incidunt impedit obcaecati aperiam facilis perferendis
      iusto eligendi, rerum, veniam quos voluptatum. Error consequatur magnam recusandae velit eaque qui consectetur
      porro?
      Expedita nobis vero ea quos magni. Voluptates repellendus aut illo quae beatae delectus esse at, itaque accusamus
      exercitationem a, totam unde blanditiis voluptatum harum aperiam recusandae animi corrupti optio aliquid?</h1>
  </div>
</div>
