@import "../styles.scss";

html {
  background-color: $color-background-dark;
}

// app-title {
//   position: sticky;
//   top: 1rem;
//   z-index: 1;
// }

app-header-buttons {
  position: sticky;
  top: 0rem;
  z-index: 10;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline: 50px;
}

.section {
  margin: 10px;
}

.title-text {
  text-align: center;
  font-size: 40px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
}
