<!-- <div class="imageviewer">
  <button (click)="closeDialog()" class="closeBtn">
    <img src="../assets/close.svg" width="50" height="50">
  </button>
  <img src="../assets/noit.png">
</div> -->
<div class="layout">
  <app-title />

  <app-about-short />

  <app-header-buttons />

  <div class="sections">
    <app-education id="education" class="section" />
    <app-skills id="skills" class="section" />
    <app-awards id="awards" class="section" />
    <app-projects id="projects" class="section" />
    <app-contact-me id="contact me" class="section" />
  </div>

  <app-scroll-to-top-fab />

</div>
