<div class="flex flex-col justify-center h-screen relative">
  <div class="flex gap-5 mx-32">
    <div class="flex flex-col flex-1 gap-5  items-stretch" id="aboutme">
      <div class="cell flex-1 text-4xl" id="headline">
        <h1 class="text-gray-950 dark:text-white">Kaloyan <strong
            class="text-purple-600 dark:text-purple-400">Stoyanov</strong>
        </h1>
      </div>
      <div class="cell p-8" id="aboutText">
        <about-me />
      </div>
      <div class="cell p-8" id="projectsText">
        <education />
      </div>
    </div>
    <div class="flex flex-col gap-5" id="pics">
      <div class="flex flex-1 gap-5">
        <div class="cell p-8 img-pfp" id="pfp">

        </div>
        <div class="cell p-8" id="projects">
          <projects />
        </div>
      </div>
      <div class="flex flex-1 gap-5">
        <div class="cell p-8">
          <contact-me />
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center w-full">
    <div class=" welcome ">
      <h1 class="text-4xl font-mono">Welcome to my Portfolio</h1>
    </div>
  </div>
</div>


<dialog id="contact-me-dialog" class="modal backdrop-blur-sm bg-opacity-5">
  <div class="modal-box border border-primary bg-card-bg gap-5">
    <div class="flex flex-col gap-8 w-full">
      <h1 class="font-mono text-3xl">Contact Me</h1>
      <div>
        <input
          class="input input-primary bg-background-dark bg-opacity-10 input-ghost input-bordered rounded-xl w-full transition-all duration-300 focus:rounded-3xl "
          type="email" placeholder="Email" [formControl]="email"
          [class.invalid]="email.invalid && email.dirty && isSubmitted" />

        <div class="mt-2">
          @if(email.dirty && email.hasError('required')) {
          <span class="error">This field is required</span>
          }
          @else if(email.dirty && email.hasError('email')) {
          <span class="error">This field must be a valid email</span>
          }
        </div>
      </div>
      <div>
        <textarea
          class="textarea textarea-primary bg-background-dark bg-opacity-10  textarea-ghost textarea-bordered rounded-xl min-h-52 w-full text-start transition-all duration-300 focus:rounded-3xl "
          type="text" placeholder="Your Message" [formControl]="message"
          [class.invalid]="message.invalid && message.dirty"></textarea>

        <div class="mt-2">
          @if(message.dirty && message.hasError('required')) {
          <span class="error">This field is required</span>
          } @else if(message.dirty && message.hasError('minlength') && isSubmitted) {
          <span class="error">This field must be at least 10 characters long</span>
          }
        </div>
      </div>
    </div>
    <div class="modal-action flex">
      <button
        class="btn flex-1 btn-primary bg-opacity-5 backdrop-blur-sm rounded-xl hover:rounded-2xl duration-300 text-white"
        (click)="closeDialog()">Close</button>
      <!-- <form method="dialog flex-1 flex"> -->
      <!-- if there is a button in form, it will close the modal -->
      <!-- </form> -->
      <button
        class="btn flex-1 btn-primary bg-opacity-5 backdrop-blur-sm rounded-xl hover:rounded-2xl transition-all duration-300 text-white "
        (click)="sendEmail()">Send</button>
    </div>
  </div>
</dialog>
