<div class="grid gap-8 grid-cols-1 my-10 mx-5 justify-center md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
  <div class="cell" id="headline">
    <h1>Kaloyan <strong>Stoyanov</strong></h1>
  </div>
  <div class="cell img-pfp justify-self-center"></div>
  <div class="cell">NESHTO</div>
  <div class="cell">About me</div>
  <div class="cell">Projects</div>
  <div class="cell">NESHTO</div>
</div>

<!-- <div class="socials">
  <div class="cell">
    <h1>Contact Me</h1>
  </div>
  <div class="cell">
    <h1>Github</h1>
  </div>
  <div class="cell">
    <h1>Instagram</h1>
  </div>
  <div class="cell">
    <h1>Facebook</h1>
  </div>
  <div class="cell">
    <h1>LinkedIn</h1>
  </div>
</div> -->
