* {
  user-select: none
}

.socials {
  .cell {
    min-width: 10vw;
    @apply min-h-0;
    margin-inline: 7px;
  }
}

.img-pfp {
  background-image: url('/assets/intro2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: local;
  width: 370px;
  height: 500px;

  flex: 0.5;

  @apply saturate-50 hue-rotate-30 hover:saturate-100 hover:hue-rotate-0 transition-all duration-500 hover:scale-105 hover:rounded-3xl;
}


#projects {
  flex: 1.6
}


#headline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.1;

  h1,
  strong {
    @apply font-mono font-bold;
  }

  h1 {
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
  }

  strong {
    text-shadow: 1px 1px 10px rgba(192, 132, 252, 0.5);
  }
}

.cell {
  @apply bg-gray-900 rounded-xl bg-opacity-25 dark:bg-opacity-5 border-border-primary border min-h-24 flex-1 backdrop-blur-sm hover:rounded-2xl transition-all duration-200;
}

#aboutme {
  align-items: stretch;
  flex: 1.2;
}

#pics {
  flex: 2;
}


#aboutText {
  flex: none;
}



.welcome {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    letter-spacing: 1px;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.267);
  }
}

.toast {
  max-height: 100px;
  max-width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;
  top: 5%;
  left: 2%;
  // transform: translate(-50%, -50%);
  @apply bg-green-950 rounded-xl border border-green-700;
  box-shadow: 0px 0px 10px #16a34a;

  opacity: 0;
  border-radius: 20px;

  h1 {
    letter-spacing: 1px;
  }

  .checkmark-box {
    @apply bg-green-700 p-2 mr-5;


    box-shadow: 0px 0px 10px #16a34a;
    border-radius: 15%;
    margin-inline: 10px;
  }

  .checkmark {
    width: 30px;
    height: 30px;
  }

  .close {
    aspect-ratio: 1/1;
    width: 25px;
  }


}
