* {
  user-select: none
}



.socials {
  .cell {
    min-width: 10vw;
    @apply min-h-0;
    margin-inline: 7px;
  }
}

.img-pfp {
  background-image: url('/assets/intro2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: local;
  width: 370px;
  height: 500px;

  flex: 0.5;

  @apply saturate-50 hue-rotate-30 hover:saturate-100 hover:hue-rotate-0 transition-all duration-500;
}



#headline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.1;

  h1,
  strong {
    @apply font-mono font-bold;
  }
}

#aboutme {
  align-items: stretch;
  flex: 1.22;
}

#pics {
  flex: 2;
}


#aboutText {
  flex: 0.6;
}
