<h1 class="title-text">My awards</h1>

<div class="awards">

  <div class="award" [ngClass]="{'reversed': (i + 1) % 2 == 0}" *ngFor="let item of awards; let i=index">
    <div class="info" [ngClass]="{'solo': item.imageUrl}">
      <div class="location-time" [ngClass]="{'location-reversed': (i) % 2 ==0}">
        <h4 id="location">{{item.location}}</h4>
        <h4>{{item.date}}</h4>
      </div>
      <div class="txt-layout" [ngClass]="{'reversed': (i ) % 2 == 0}">
        <h1>{{item.title}}</h1>
        <div class="divider">

        </div>
        <p>{{item.description}}</p>
      </div>
    </div>
    <img *ngIf="item.imageUrl" src="{{item.imageUrl}}" clickable>
  </div>
  <div class="award">
    <div class="info">
      <div class="location-time location-reversed">
        <h4 id="location">Burgas and Shumen</h4>
        <h4>04/2023</h4>
      </div>
      <div class="txt-layout txt-reverse">
        <div>
          <h1>7th place at National Competition of IT</h1>
        </div>
        <div class="divider"></div>
        <div>
          <p>
            Secured 7th place at the National Competition of IT, comprising regional
            and national

            04/2023

            phases.
          </p>
          <ul>
            <li>Regional Phase: Attained a score of 93 out of 100.</li>
            <li>National Phase:
              <ul>
                <li>Test: Earned a score of 89 out of 100 (3rd place out of 30)</li>
                <li>Presentation: Achieved a score of 77 out of 100</li>
              </ul>
            </li>
          </ul>
        </div>


      </div>
    </div>
    <img src="../../../assets/noit.png" clickable>
  </div>
  <div class="award reversed">
    <div class="info">
      <div class="location-time">
        <h4 id="location">Online</h4>
        <h4>02/2023</h4>
      </div>
      <div class="txt-layout ">
        <h1>2nd place at SoftUniada 2023</h1>
        <div class="divider"></div>
        <p>During SoftUniada 2023, I achieved 2nd place in the junior project category
          with my outstanding project EducateIO. I demonstrated innovative skills
          and surpassed numerous competitors, earning recognition for our
          exceptional work.</p>

      </div>
    </div>
    <iframe height="315" src="https://www.youtube.com/embed/5OdUHyuf-7A?start=834" title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
  </div>
</div>
