<div class="wrapper">


  <h1 class="title-text">Achievements</h1>

  <div class="awards">
    <div class="award" [ngClass]="{'reversed': (i + 1) % 2 == 0}" *ngFor="let item of awards; let i=index">
      <div class="txt">
        <h1 class="title">{{item.title}}</h1>
        <p>{{item.description}}</p>

        <div class="location">
          <h4>{{item.location}}</h4>
          <h4>{{item.date}}</h4>
        </div>
      </div>
      <img *ngIf="item.imageUrl" alt="award image" src="{{item.imageUrl}}">
    </div>
    <!-- <div class="award reversed">
      <div class="info">
        <div class="location-time">
          <h4 id="location">Online</h4>
          <h4>02/2023</h4>
        </div>
        <div class="txt-layout ">
          <h1>2nd place at SoftUniada 2023</h1>
          <div class="divider"></div>
          <p>During SoftUniada 2023, I achieved 2nd place in the junior project category
            with my outstanding project EducateIO. I demonstrated innovative skills
            and surpassed numerous competitors, earning recognition for our
            exceptional work.</p>

        </div>
      </div>
      <iframe height="315" src="https://www.youtube.com/embed/5OdUHyuf-7A?start=834" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
    </div>
  </div> -->

  </div>
