<div class="project">
  <div class="logo-wrapper">
    <img class="logo" src="{{this.project!.imageUrl}}" alt="{{this.project!.name}}">
    <h1 class="title">{{this.project!.name}}</h1>
  </div>

  <div class="content">
    <p class="description">{{this.project!.description}}</p>
    <a class="link" href="{{this.project!.github}}" target="_blank">View Project</a>
  </div>

  <div class="images">
    <div class="image" [ngClass]="{'position': project!.images!.length != 1}"
      *ngFor="let picture of [project!.images![0],project!.images![1]]; let i=index">
      <img src="{{picture}}" alt="{{this.project!.name}}">
    </div>
  </div>
</div>
