@import "../../../styles.scss";
@import "@angular/material/theming";
@include mat-core();

.mat-expansion-panel {
  background-color: $color-primary-container-dark;
  border-radius: 20px;
  box-shadow: 0px 0px 10px $color-primary-container-dark !important;
  transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mat-expansion-panel:hover {
  scale: 1.05;
  border-radius: 50px;
  box-shadow: 0px 0px 50px $color-primary-container-dark !important;
}

.panel-title {
  filter: none !important;
  opacity: 1 !important;
  color: white !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-direction: column;

  img {
    height: 10vh;
    aspect-ratio: 1;
  }
}

mat-expansion-panel-header {
  margin-block: 20px;
}

.content {
  box-shadow: -10px -10px 100px $color-primary-container-dark !important;
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: $color-on-primary-container-dark;
  color: black;
  border: none;
  border-radius: 20px;
  height: 4vh;
  width: 40%;
  align-self: center;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button:hover {
  scale: 1.1;
  transform: translateY(-5px);
  box-shadow: 0px 5px 20px black;
}

button:active {
  scale: 1;
  transform: translateY(-0px);
  box-shadow: 0px 0px 10px black;
}

h3 {
  margin: 0px;
  align-self: flex-end;
}

p {
  font-size: 20px;
  margin-block: 30px;
}
