<div class="project" id="{{this.name}}">
  <div class="logo-wrapper" id="logo-{{this.name}}">
    <img class="logo" src="{{this.project!.imageUrl}}" alt="{{this.project!.name}}">
    <h1 class="title">{{this.project!.name}}</h1>
  </div>

  <div class="content" id="content-{{this.name}}">
    <p class="description">{{this.project!.description}}</p>
    <a class="link" href="{{this.project!.github}}" target="_blank">View Project</a>
  </div>

  <div class="images" id="images-{{this.name}}">
    <div class="image" [ngClass]="{'position': project!.images!.length != 1}"
      *ngFor="let picture of [project!.images![0],project!.images![1]]; let i=index">
      <img src="{{picture}}" alt="{{this.project!.name}}" class="img">
    </div>
  </div>
</div>
