/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

:root {
  --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
  --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --step-2: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
  --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --step-5: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);
}

$md-source: #6750a4;
/* primary */
$primary0: #000000;
$color-primary-dark: #21005d;
$color-primary-dark: #381e72;
$primary30: #4f378b;
$color-primary-dark: #6750a4;
$primary50: #7f67be;
$primary60: #9a82db;
$primary70: #b69df8;
$color-primary-dark: #d0bcff;
$primary90: #eaddff;
$primary95: #f6edff;
$primary99: #fffbfe;
$color-primary-dark0: #ffffff;
/* secondary */
$secondary0: #000000;
$secondary10: #1d192b;
$secondary20: #332d41;
$secondary30: #4a4458;
$secondary40: #625b71;
$secondary50: #7a7289;
$secondary60: #958da5;
$secondary70: #b0a7c0;
$secondary80: #ccc2dc;
$secondary90: #e8def8;
$secondary95: #f6edff;
$secondary99: #fffbfe;
$secondary100: #ffffff;
/* tertiary */
$tertiary0: #000000;
$tertiary10: #31111d;
$tertiary20: #492532;
$tertiary30: #633b48;
$tertiary40: #7d5260;
$tertiary50: #986977;
$tertiary60: #b58392;
$tertiary70: #d29dac;
$tertiary80: #efb8c8;
$tertiary90: #ffd8e4;
$tertiary95: #ffecf1;
$tertiary99: #fffbfa;
$tertiary100: #ffffff;
/* error */
$error0: #000000;
$error10: #410e0b;
$error20: #601410;
$error30: #8c1d18;
$error40: #b3261e;
$error50: #dc362e;
$error60: #e46962;
$error70: #ec928e;
$error80: #f2b8b5;
$error90: #f9dedc;
$error95: #fceeee;
$error99: #fffbf9;
$error100: #ffffff;
/* neutral */
$neutral0: #000000;
$neutral10: #1c1b1f;
$neutral20: #313033;
$neutral30: #484649;
$neutral40: #605d62;
$neutral50: #787579;
$neutral60: #939094;
$neutral70: #aeaaae;
$neutral80: #c9c5ca;
$neutral90: #e6e1e5;
$neutral95: #f4eff4;
$neutral99: #fffbfe;
$neutral100: #ffffff;
/* neutral-variant */
$neutral-variant0: #000000;
$neutral-variant10: #1d1a22;
$neutral-variant20: #322f37;
$neutral-variant30: #49454f;
$neutral-variant40: #605d66;
$neutral-variant50: #79747e;
$neutral-variant60: #938f99;
$neutral-variant70: #aea9b4;
$neutral-variant80: #cac4d0;
$neutral-variant90: #e7e0ec;
$neutral-variant95: #f5eefa;
$neutral-variant99: #fffbfe;
$neutral-variant100: #ffffff;
/* light */
$color-primary-light: #6750a4;
$color-on-primary-light: #ffffff;
$color-primary-container-light: #eaddff;
$color-on-primary-container-light: #21005d;
$color-secondary-light: #625b71;
$color-on-secondary-light: #ffffff;
$color-secondary-container-light: #e8def8;
$color-on-secondary-container-light: #1d192b;
$color-tertiary-light: #7d5260;
$color-on-tertiary-light: #ffffff;
$color-tertiary-container-light: #ffd8e4;
$color-on-tertiary-container-light: #31111d;
$color-error-light: #b3261e;
$color-on-error-light: #ffffff;
$color-error-container-light: #f9dedc;
$color-on-error-container-light: #410e0b;
$color-outline-light: #79747e;
$color-background-light: #fffbfe;
$color-on-background-light: #1c1b1f;
$color-surface-light: #fffbfe;
$color-on-surface-light: #1c1b1f;
$color-surface-variant-light: #e7e0ec;
$color-on-surface-variant-light: #49454f;
$color-inverse-surface-light: #313033;
$color-inverse-on-surface-light: #f4eff4;
$color-inverse-primary-light: #d0bcff;
$color-shadow-light: #000000;
$color-surface-tint-light: #6750a4;
$color-outline-variant-light: #cac4d0;
$color-scrim-light: #000000;
/* dark */
$color-primary-dark: #d0bcff;
$color-on-primary-dark: #381e72;
$color-primary-container-dark: #34245e;
$color-on-primary-container-dark: #eaddff;
$color-secondary-dark: #ccc2dc;
$color-on-secondary-dark: #332d41;
$color-secondary-container-dark: #4a4458;
$color-on-secondary-container-dark: #e8def8;
$color-tertiary-dark: #efb8c8;
$color-on-tertiary-dark: #492532;
$color-tertiary-container-dark: #633b48;
$color-on-tertiary-container-dark: #ffd8e4;
$color-error-dark: #f2b8b5;
$color-on-error-dark: #601410;
$color-error-container-dark: #8c1d18;
$color-on-error-container-dark: #f9dedc;
$color-outline-dark: #938f99;
$color-background-dark: #1c1b1f;
$color-on-background-dark: #e6e1e5;
$color-surface-dark: #1c1b1f;
$color-on-surface-dark: #e6e1e5;
$color-surface-variant-dark: #49454f;
$color-on-surface-variant-dark: #cac4d0;
$color-inverse-surface-dark: #e6e1e5;
$color-inverse-on-surface-dark: #313033;
$color-inverse-primary-dark: #6750a4;
$color-shadow-dark: #000000;
$color-surface-tint-dark: #d0bcff;
$color-outline-variant-dark: #49454f;
$color-scrim-dark: #000000;

html {
  font-family: "Poppins", sans-serif;
  color: $color-on-surface-dark;
  background-color: $color-background-dark;
  overflow-x: hidden;
}

// Firefox
* {
  scrollbar-width: 0px;
  scrollbar-color: $color-primary-dark;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $primary30;
  border-radius: 10px;
}

* {
  font-family: "Roboto Slab", serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: var(--step-0);
  // overflow-x: hidden;
}
body {
  margin: 0;
  // font-family: "Roboto Slab", serif;
}

h1 {
  font-size: var(--step-0);
}

h2 {
  font-size: var(--step-0);
}

h3 {
  font-size: var(--step-1);
}

p,
li {
  font-size: var(--step--1);
}

.title-text {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
  width: 50%;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.title-text:hover {
  letter-spacing: 3px;
}
