@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply bg-background;
  @apply text-primary;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}


* {
  font-family: "Inter";
}
