<div class="p-12 flex flex-col gap-12 items-center h-full lg:h-screen">

  <h1 class="text-4xl font-mono text-center">My Projects</h1>


  <div class="w-[75%] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 pb-12 grid-rows-2">

    @for (item of sorted(); track $index) {
    <div
      class="cell flex flex-col items-center justify-center h-full transition-all duration-300 hover:scale-[1.02] cursor-pointer py-12 tracking-[1px] hover:tracking-[1.5px] "
      (click)="GoToThisProject(item.id)">
      <div class="flex relative">
        <img src="{{item.images[GenerateRandomNumberFlex(item.images.length)]}}" alt="{{item.name}}"
          class="max-w-[150px] flex-[1] object-cover  rounded-2xl hover:rounded-3xl top-3 -rotate-[5deg] hover:rotate-0 hover:scale-105 shadow-sm transition-all duration-300">
        <img src="{{item.images[GenerateRandomNumberFlex(item.images.length)]}}" alt="{{item.name}}"
          class="max-w-[150px] flex-[1] object-cover  rounded-2xl hover:rounded-3xl top-3 rotate-[5deg] hover:rotate-0 hover:scale-105 shadow-sm transition-all duration-300">
      </div>

      <div class="divider"></div>
      <div class="flex-[2] text-left w-full flex flex-col gap-[15px] px-10 pt-5 ">
        <h1 class="text-3xl font-mono">{{item.name}}</h1>
        <p class="text-lg ">{{item.shortDescription}}</p>
      </div>
    </div>
    }
  </div>


</div>
